<% layout("layouts/boilerplatecode.ejs") -%>
<body>

    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"><% for (let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card row" style="width: 20rem;">
                <!-- Display the image using the URL stored in the database -->
                <img class="card-img-top" src="<%= listing.image.url %>" alt="listing_image">
                <div class="card-img-overlay">aaaaaaaaaaaaa</div>
                 <div class="card-body">
                 <b> <p class="card-text"><%= listing.title %> </b><br>
                &#x20B9;<%= listing.price.toLocaleString("en-IN") %> / night</p>
                </div>
            </div>
            <% } %></div>

        </a>


</body>
